<h1><%= @dog.name %></h1>
<%# images à afficher %>
<div>
<%= @dog.breed %>
<%= @dog.age %>
<%= @dog.color %>
<%= @dog.size %>
<%= @dog.is_sterilized ? "#{@dog.name} est stérilisé" : "#{@dog.name} n'est pas stérilisé" %>
<% @dog.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 200, width: 250, crop: :fill %>
<% end %>
</div>
<div>
<%= link_to 'Rent dog', new_dog_booking_path(@dog), class: "btn btn-success" %>
</div>
