<div class="navbar">
  <div class="container">
    <div class="navbar-left">
      <%= link_to root_path do %>
        <%= image_tag 'logo', class: 'logo' %>
      <% end %>
    </div>
    <div class="navbar-right">
      <%= link_to 'Add your dog', root_path %>
      <%= link_to 'My account', root_path %>
      <%= link_to 'Log out', root_path %>
      <%= image_tag 'profile_picture', class: 'avatar' %>
    </div>
  </div>
</div>
