<% current_user.bookings.order('created_at desc').each do |booking| %>
<div class="my-rental-request">

  <% dog = booking.dog %>
  <% if !dog.photos.empty? %>
  <div class="my-rental-request-img" style="background-image: url('<%= cl_image_path dog.photos.first.key, height: 100, crop: :thumb %>');">
  <% else %>
  <div class="my-rental-request-img" style="background-image: url('<%= image_path "dog" %>');">
  <% end %>
  </div>
  <div class="my-rental-request-right">
    <div class="my-rental-request-infos">
      <div class="my-rental-request-infos-dog">
        <p><span><%= dog.name %></span> - <%= dog.age %> ans (<%= dog.breed %>) </p>
        <p><em><%= dog.color %> / <%= dog.size %></em></p>
      </div>
      <div class="my-rental-request-infos-dog-owner">
        <p>Dog owner: <%= dog.user.first_name %> <%= dog.user.last_name %></p>
        <% if dog.user.photo.attached? %>
        <%= cl_image_tag dog.user.photo.key, class: 'avatar dropdown-toggle', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
        <%= image_tag 'blank_avatar', class: 'avatar dropdown-toggle', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      </div>
    </div>
    <div class="my-rental-request-dates">
      <p> From <%= booking.start_date %> to <%= booking.end_date %> </p>
    </div>
    <div class="my-rental-request-status">
      <% if DateTime.now - booking.end_date > 0 && booking.review.nil? %>
        <%= link_to new_booking_review_path(dog) do %>
          <div class="leave-a-review">
            <p>Did your enjoy your time with <%= dog.name %> ? Leave a review !</p>
          </div>
        <% end %>
      <% elsif DateTime.now - booking.end_date > 0 %>
        <div class="left-review">
          <p>Thanks for the review your left for <%= dog.name %>!</p>
        </div>
      <% else %>
        <div class="rental-request-message">
        <% case booking.status %>
        <% when "pending" %>
          <p class='pending-message'><%= dog.user.first_name %> did not respond to your request yet</p>
          <%= simple_form_for(booking, data: {
                        update_status_target: 'cancelForm',
                        action: 'submit->update-status#send'
                      }) do |f| %>
            <%= hidden_field_tag 'commit', 'Cancel' %>
            <%= f.button :submit, 'Cancel', class: 'btn btn-warning' %>
          <% end %>
        <% when "accepted" %>
          <p class='accepted-message'><%= dog.user.first_name %> accepted your request</p>
        <% when "refused" %>
          <p class='refused-message'><%= dog.user.first_name %> refused your request</p>
        <% when "cancelled" %>
          <p class='refused-message'>You canceled your request</p>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
