<div class="container">
  <h2 class="dashboard-header">Dashboard</h2>

  <ul class="tabs list-inline" id="mytabs">
    <li class="tab list-inline-item active" id="my-dogs">My dogs</li>
    <li class="tab list-inline-item" id="add-a-dog">Add a dog</li>
    <li class="tab list-inline-item" id="my-rental-requests">My rental requests</li>
    <li class="tab list-inline-item" id="my-informations">My informations</li>
  </ul>

  <div data-controller="update-status">
    <div class="my-dogs">
      <% current_user.dogs.each do |dog| %>
      <h3><%= dog.name %></h3>
      <div class="my-dogs-grid">
        <div class="my-dogs-card">
          <% if !dog.photos.empty? %>
          <div class="my-dogs-card-img" style="background-image: url('<%= cl_image_path dog.photos.first.key, height: 100, crop: :thumb %>');">
          <% else %>
          <div class="my-dogs-card-img" style="background-image: url('<%= image_path "dog" %>');">
          <% end %>
          </div>
          <div class="my-dogs-card-infos">
            <div class="my-dogs-card-text">
              <p><span><%= dog.name %></span> - <%= dog.age %> ans (<%= dog.breed %>) </p>
                <% unless dog.rating.nil? %>
                  <p class="star-icons">
                    <%= "<i class='fas fa-star active'></i>".html_safe * dog.rating %>
                    <%= "<i class='fas fa-star'></i>".html_safe * (5 - dog.rating) %>
                  </p>
                <% end %>
            </div>
            <p><em><%= dog.color %> / <%= dog.size %></em></p>
            <div class="my-dogs-card-buttons">
            <%= link_to 'See', dog_path(dog), class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_dog_path(dog), class: 'btn btn-info' %>
            <%= link_to 'Delete', dog_path(dog), method: :delete, data: { confirm: 'Are you sure you want to delete this dog ?'}, class: 'btn btn-danger' %>
            </div>
          </div>
        </div>

        <div class="my-dogs-requests">
          <h4>Pending Requests</h4>
          <div class="pending-requests" data-update-status-target='accept'>
            <%= render 'pending-request', dog: dog %>
          </div>
        </div>
      </div>

      <div class="request-history-cards">
        <h4>Requests history for <%= dog.name %></h4>
        <div class="request-history" data-update-status-target='history'>
          <%= render 'request-history', dog: dog %>
        </div>
      </div>
      <hr>
    <% end %>
    </div>

    <div class="my-rental-requests">
      <div class="rental-requests" data-update-status-target="rental">
        <%= render 'rental-request' %>
      </div>
    </div>
  </div>


  <div class="add-a-dog mb-5">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <h3 class="text-center">Add a dog</h3>
        <% @dog = Dog.new(user_id: current_user.id) %>
        <%= simple_form_for(@dog) do |f| %>
          <%= f.input :name, :label => "Prénom" %>
          <%= f.input :age, :label => "Age", min: 0 %>
          <%= f.label "Adresse"%>
          <%= f.text_field :address, :class => "search-input", required: true%>
          <%= f.input :color, label: "Couleur" %>
          <%= f.input :breed, :label => "Race" %>
          <%= f.input :description, :label => "Description" %>
          <%= f.input :size, :as => :select,
                    :collection => %w[Petite Moyenne Grande],
                    :label => "Taille" %>
          <%= f.input :is_sterilized, :as => :select,
                    :collection => [['Non',false],['Oui',true]],
                    :include_blank => false,
                    :label => "Stérélisé(e)" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <% @dog.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 200, width: 250, crop: :fill %>
          <% end %>
          <%= f.submit%>
        <% end %>
      </div>
    </div>
  </div>

  <div class="my-informations">
    <div class="row">
      <div class="info-dash col-12 col-lg-6 offset-lg-3">
        <h6>First Name</h6>
        <p><%= current_user.first_name %></p>
        <h6>Last Name</h6>
        <p><%= current_user.last_name %></p>
        <h6>Email address</h6>
        <p><%= current_user.email %></p>
        <h6>Age</h6>
        <p><%= current_user.age %></p>
        <h6>Address</h6>
        <p><%= current_user.address %></p>
        <h6>Gender</h6>
        <p><%= current_user.gender %></p>
        <%= link_to "Edit your profile", "/users/edit", class: 'btn btn-info btn-block' %>
      </div>
    </div>
  </div>
</div>

