<div class="container">
  <h2 class="dashboard-header">Dashboard</h2>

  <ul class="tabs list-inline">
    <li class="tab list-inline-item active" id="my-dogs">My dogs</li>
    <li class="tab list-inline-item" id="add-a-dog">Add a dog</li>
    <li class="tab list-inline-item" id="my-rental-requests">My rental requests</li>

  </ul>


  <div class="my-dogs">
    <div class="my-dogs-grid">
      <% current_user.dogs.each do |dog| %>
      <div class="my-dogs-card">
        <% if !dog.photos.empty? %>
        <div class="my-dogs-card-img" style="background-image: url('<%= cl_image_path dog.photos.first.key, height: 100, crop: :thumb %>');">
        <% else %>
        <div class="my-dogs-card-img" style="background-image: url('<%= image_path "dog" %>');">
        <% end %>
        </div>
        <div class="my-dogs-card-infos">
          <div class="my-dogs-card-text">
            <p><span><%= dog.name %></span> - <%= dog.age %> ans (<%= dog.breed %>) </p>
            <p><em><%= dog.color %> / <%= dog.size %></em></p>
          </div>
          <div class="my-dogs-card-buttons">
          <%= link_to 'See', dog_path(dog), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_dog_path(dog), class: 'btn btn-info' %>
          <%= link_to 'Delete', dog_path(dog), method: :delete, data: { confirm: 'Are you sure you want to delete this dog ?'}, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>

      <div class="my-dogs-requests">
        <h4>Rental Requests</h4>
        <div class="request-cards">
          <% dog.bookings.order('created_at desc').each do |booking| %>
          <div class="request-card">
            <div class="request-card-left">
            <% if booking.user.photo.attached? %>
              <%= cl_image_tag booking.user.photo.key, class: 'avatar dropdown-toggle', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag 'blank_avatar', class: 'avatar dropdown-toggle', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            </div>
            <div class="request-card-right">
              <p>Request from <%= booking.user.first_name %> <%= booking.user.last_name %></p>
              <p> From <%= booking.start_date %> to <%= booking.end_date %> </p>
              <div class="request-card-buttons">
                <% case booking.status %>
                <% when 'pending' %>
                <%= simple_form_for booking do |f| %>
                  <% f.button :submit, 'Accept', class: 'btn btn-success' %>
                <% end %>
                <%= simple_form_for booking do |f| %>
                  <% f.button :submit, 'Decline', class: 'btn btn-danger' %>
                <% end %>
                <% when 'accepted' %>
                <p>You accepted this request</p>
                <% when 'refused' %>
                <p>You refused this request</p>
                <% when 'cancelled' %>
                <p>This request has been cancelled by <%= booking.user.first_name %></p>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  <% end %>
    </div>
  </div>

  <div class="add-a-dog mb-5">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <h3>Add a dog</h3>
        <% @dog = Dog.new(user_id: current_user.id) %>
        <%= simple_form_for(@dog) do |f| %>
          <%= f.input :name, :label => "Prénom" %>
          <%= f.input :age, :label => "Age", min: 0 %>
          <%= f.input :color, label: "Couleur" %>
          <%= f.input :breed, :label => "Race" %>
          <%= f.input :size, :as => :select,
                    :collection => %w[Petite Moyenne Grande],
                    :label => "Taille" %>
          <%= f.input :is_sterilized, :as => :select,
                    :collection => [['Non',false],['Oui',true]],
                    :include_blank => false,
                    :label => "Stérélisé(e)" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <% @dog.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 200, width: 250, crop: :fill %>
          <% end %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="my-rental-requests">
  </div>

</div>

