<%# <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> %>


<%# <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> %>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://www.teahub.io/photos/full/366-3668994_cute-puppies-on-the-ice-wallpaper-for-android.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Share the LOVE of dogs</h3>
          <p class="lead">Connecting dog owners with local dog borrowers for
walks, weekends and holidays.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1522276498395-f4f68f7f8454?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Your LOVE is an unlimited power</h3>
          <p class="lead">Connecting dog owners with local dog borrowers for
walks, weekends and holidays.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">There is no love without compassion</h3>
          <p class="lead">Connecting dog owners with local dog borrowers for
walks, weekends and holidays.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <%# <h1 class="font-weight-light">Share the LOVE of dogs</h1>
    <p class="lead">Connecting dog owners with local dog borrowers for
walks, weekends and holidays.</p> %>
  </div>
</section>


<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.teahub.io/photos/full/366-3668994_cute-puppies-on-the-ice-wallpaper-for-android.jpg);">
  <div class="container">
    <h1><strong>Share the LOVE of dogs</strong>!</h1>
    <p>Connecting dog owners with local dog borrowers for
walks, weekends and holidays.</p>
  </div>
</div> %>


<!--------- SEARCH BAR ------>
<div class="container">
  <%= form_for( :dog, :html => { class: "product-search" }, url:dogs_path, method: :get) do |f| %>
    <div class="search-element">
    <label class="search-label">Où voulez-vous louer votre chien ?</label>
    <%= f.text_field :address, :class => "search-input", required: true %>
    <%= f.submit "Chercher votre chien", :class => "search-button"%>
    </div>
  <% end %>
  

<!--<div class="cards">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('image_1.jpg')%>); height: 300px; background-size: cover;">
  Search by race
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('image_3.jpg')%>); height: 300px; background-size: cover;">
  Find a neighboor
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('image_2.jpg')%>); height: 300px; background-size: cover;">
  Looking for a comnany ?
  </div>
</div> -->


<div class="c-left">
  <div class="card-product-info">
    <h2>Can Dogs Love? A True Story.</h2>
    <p><strong>"Rita and her family believe that it was only the big dog's love of the little girl that caused him to take what he must have considered a life-threatening action. This certainly casts doubt on Dr. Metzger's theory that dogs don't love us but act only out of self-interest. Why should Rocky behave in a way that he certainly felt would risk his life? Surely, if he was evaluating the costs and benefits of his actions then he would have known that, even in Rita's absence, the rest of the family would be around to feed him and take care of needs."</strong></p>

  </div>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_IwG7zmQ4I0qzQzpJaKIuZdHxJnAULmL-Yw&usqp=CAU" />

</div>

<div class="c-right">
  <div class="card-product-info">
    <h2>Luna and her borrower Natasha.</h2>
    <p><strong>"I joined BorrowMyDoggy a few months ago. Kate found me and got in touch as she needed someone to help walk her beautiful Labrador, Luna, whilst she was heavily pregnant at the time. It was a bonus that she lived only a 3 minute walk from me! Since then, I’ve been walking Luna nearly every week and it’s been an absolute joy.”</strong></p>
  </div>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpPEP6x_U-ygyMw-oYX5tbXkbTUfW29kPRgg&usqp=CAU" />
</div>
</div>

</div>

<!-- °°°°° FOOTER °°°°° -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<footer id="dk-footer" class="dk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="dk-footer-box-info">
                        <a href="index.html" class="footer-logo">
                        </a>
                        <p class="footer-info-text">
                           https://airbnb-dannxs.herokuapp.com
                        </p>
                        <div class="footer-social-link">
                            <h3>Follow us</h3>
                            <ul>
                                <li>
                                    <a href="#" class="text-decoration-none">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-decoration-none">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-decoration-none">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                    <!-- End Footer info -->

                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-us">
                                <div class="contact-icon">
                                    <i class="fa fa-map-o" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>French Coin</h3>
                                    <p>Somewhere, not here</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>00 000 0 1111</h3>
                                    <p>Give us a call</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Contact Row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-widget footer-left-widget d-flex justify-content-between">
                                <ul>
                                    <li>
                                        <a href="#" class="text-decoration-none">Projects</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-decoration-none">Our Team</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-decoration-none">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="footer-widget footer-left-widget d-flex justify-content-between">
                                    <ul>
                                        <li>
                                            <a href="#" class="text-decoration-none">How it works?</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-decoration-none">Our History</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-decoration-none">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Footer Widget -->
                        
                        <!-- End col -->
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2021, All Right Reserved French Coin</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
        <!-- End Back to top -->
</footer>


