<!DOCTYPE html>
<html>
  <head>
    <title>RentYourDog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= link_to "sign in", new_user_session_path if user_signed_in? == false %>
    <%= link_to "sign out", destroy_user_session_path, method: :delete if user_signed_in? %>
    <%= yield %>
  </body>
</html>
